plugin: gcp_compute
auth_kind: serviceaccount
projects:
  - {{ project }}
zones:
  - {{ zone }}
keyed_groups:
  - key: tags['items'] | map('regex_replace', '.*[-_](docker|manager|worker|frontend|bastion)$', '\1') | list
    separator: ''
filters:
  - 'name = {{ workspace }}*'
  - 'name = bastion'
  - 'name = frontend'
hostnames: [ 'name' ]
compose:
  ansible_host: (name == 'bastion') | ternary(networkInterfaces[0].accessConfigs[0].natIP, networkInterfaces[0].networkIP)

